.wrapper{
    padding-bottom: 50px;
    overflow: auto;
    min-width: 900px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: 120px;
}

.canvas{
    margin-left: -120px;
    height: 500px;
    width: 800px;
    border: 1px solid rgba(128, 128, 128, 0.37);
    border-radius:5px;
    box-shadow: 1px 1px 2px rgba(110, 110, 110, 0.404);
    cursor: none;
}
