.footer{
    user-select: none;
    font-family: monospace;
    font-size: 16px;
    display: flex;
    letter-spacing: 2px;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color:rgb(241, 217, 79);
    align-items:center;
    justify-content: space-between;
    transition: opacity 0.5s;
    .sign{
        margin: 8px;
        padding: 5px;
        font-size: 30px;
    }
    .footer_info{
        width: 150px;
        margin: 10px;
    }
    .scale_wrapp{
        white-space: nowrap;
    }
}
