
*{
    margin: 0;
    padding: 0;

}

button{
    border: 1px solid black;
    border-radius:4px;
}

img{
    user-select: none;
}
@import './cursor.scss';
@import './mainMenu.scss';
@import './instruments/instruments.scss';
@import './footer.scss';
@import './canvas.scss';
@import './form.scss';
@import './sideBar.scss';
@import './undo.scss';