.inst_right{
    margin-top: 8px;
    display: none;
    padding: 3px;
    position: relative;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    input{
        position: relative;
        top: 3px;
    }
}